@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@200;400;600;700;800;900&family=Raleway:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Colours */
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  color: #fff;
  background: url(../img/hero-bg-min.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.header .burger {
  position: absolute;
  width: 4rem;
  height: 3px;
  background-color: #ffba00;
  top: 4rem;
  right: 2rem;
  display: none;
}
.header .burger::before, .header .burger::after {
  content: "";
  width: 4rem;
  height: 3px;
  background-color: #ffba00;
  top: -1rem;
  right: 0rem;
  position: absolute;
}
.header .burger::after {
  top: 1rem;
}
.header .logo-band {
  width: 27%;
  height: 6rem;
  background-color: #ffba00;
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1;
}
.header .container {
  max-width: 120rem;
  margin: 0 auto;
}
.header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  position: relative;
}
.header .main-nav__logo {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 3rem;
  font-weight: lighter;
  z-index: 10;
}
.header .main-nav__logo span {
  font-weight: 900;
}
.header .main-nav__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.header .main-nav__item {
  margin: 0 1rem;
  text-align: center;
}
.header .main-nav__item a {
  font-size: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
}
.header .main-nav__item a:hover {
  color: #ffba00;
}
.header .band-mid {
  width: 100%;
  height: 18rem;
  background-color: #ffba00;
  position: absolute;
  top: 52%;
  transform: translateY(-40%);
  z-index: 1;
}
.header__text {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1;
  padding-top: 2rem;
  margin: 0 auto;
}
.header__text h1 {
  width: 55rem;
  font-size: 10rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.header__text h1 span {
  font-weight: 900;
  letter-spacing: normal;
}
.header__text a {
  border: 2px solid #fff;
  align-self: flex-end;
}
.header__text h1,
.header__text a {
  z-index: 10;
}

.btn {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #ffba00;
  padding: 1.5rem 2rem 1.5rem 5rem;
  border: 2px solid transparent;
}
.btn:hover {
  background-color: #eeae00;
  border: 2px solid #fce197;
}

.new {
  overflow: hidden;
  position: relative;
}
.new__band {
  height: 15rem;
  width: 61%;
  background-color: #ffba00;
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 1;
}
.new__upper {
  height: 65vh;
  background-color: #242424;
  color: #fff;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.new__upper .wrapper {
  justify-self: center;
  display: flex;
  align-items: center;
  margin-left: 12rem;
}
.new__upper-title {
  font-family: "Montserrat";
  font-size: 4rem;
  font-weight: 200;
  transform: rotate(-90deg);
  height: fit-content;
  width: 23rem;
  justify-self: flex-end;
  z-index: 10;
}
.new__upper-text {
  font-family: "Lato";
  font-size: 3rem;
  align-self: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
}
.new__upper-text h3 {
  letter-spacing: 5px;
  font-weight: 900;
}
.new__upper-text h3 {
  font-family: "Lato";
}
.new__upper-img {
  justify-self: flex-end;
  align-self: center;
}
.new__bottom {
  height: 35vh;
  background-color: #fff;
}
.new__bottom .wrapper {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.new__bottom .wrapper .item {
  display: flex;
  flex-direction: column;
  width: 35rem;
  font-size: 2rem;
}
.new__bottom .wrapper .item .title {
  padding-left: 2rem;
}
.new__bottom .wrapper .item .text {
  margin-top: 2rem;
}

.title {
  font-size: 2.6rem;
  font-family: "Montserrat";
  color: #ffba00;
  font-weight: 900;
}

.text {
  font-family: "Lato";
  line-height: 1.3;
}

.menu {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/menu-bg-min.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.menu__logo {
  text-align: center;
  padding: 5rem;
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.menu__logo span {
  font-weight: 300;
}
.menu .container {
  width: 80%;
  margin-left: auto;
}
.menu__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -10rem;
  margin-bottom: 10rem;
}
.menu__title__box {
  border: 2px solid #fff;
  height: 11rem;
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 1rem;
}
.menu .container-dishes {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-top: 14rem;
}
.menu__item {
  display: flex;
  max-width: 65rem;
  margin: auto;
  justify-content: space-between;
  font-weight: 400;
  margin-bottom: 3rem;
  z-index: 10;
}
.menu__item-name, .menu__item-price {
  z-index: 10;
}
.menu__item-price {
  font-weight: 600;
  letter-spacing: 1px;
}
.menu__item h3 {
  text-transform: uppercase;
  font-weight: 400;
}
.menu__item h3 span {
  margin-right: 1rem;
}
.menu .container-especials {
  color: #fff;
  border: 2px solid #fff;
  width: 60%;
  margin: 10rem auto 0 auto;
}
.menu .container-especials .especial {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.menu .wrapper-especials {
  width: 65rem;
  margin: auto;
  text-align: left;
}
.menu .yellowbox {
  height: 28rem;
  width: 130rem;
  background-color: #ffba00;
  position: absolute;
  top: 50;
  right: 0;
  z-index: 1;
}
.menu .yellowbox__band {
  position: absolute;
  top: 3rem;
  left: 79rem;
  height: 30rem;
  width: 5rem;
  background-color: #ffda00;
  opacity: 0.7;
  background-blend-mode: screen;
  color: white;
}
.menu .especials {
  padding-bottom: 8rem;
}

.price-band {
  position: relative;
}

.price-band::before {
  content: "";
  height: 30rem;
  width: 4rem;
  background-color: #ffda00;
  opacity: 0.5;
  position: absolute;
  top: -1rem;
  left: 1rem;
}

.concept {
  background-color: #242424;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concept .title {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.concept .title span {
  font-weight: 700;
}
.concept .text {
  font-size: 2rem;
  color: #fff;
  width: 77rem;
  margin: 3rem 0;
}
.concept__nav {
  display: flex;
  justify-content: space-between;
  width: 55rem;
}
.concept__nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}
.concept__nav a:hover {
  color: #ffba00;
}

.masterclass {
  background: url(../img/masterclass-bg-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
}
.masterclass__container {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
}
.masterclass__container h3 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  margin-bottom: 10rem;
}
.masterclass__container .button {
  display: flex;
  justify-content: flex-end;
}
.masterclass__container .button .btn {
  padding: 3.5rem 25rem 1.5rem 2rem;
}
.masterclass__card {
  font-size: 3rem;
  color: #fff;
  width: 40%;
  margin-bottom: 5rem;
  margin-left: auto;
  background-color: #ffba00;
  padding: 7rem 6rem;
}
.masterclass__card-title {
  font-size: 4.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2rem;
}
.masterclass__card-subtitle {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 7rem;
}
.masterclass__card .price-time {
  align-self: flex-end;
  text-align: right;
}
.masterclass__card .price-time span {
  font-weight: 600;
}
.masterclass__card .price-time .price {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.gallery {
  background-color: #242424;
  padding: 10rem 0;
  position: relative;
}
.gallery__band {
  position: absolute;
  top: 0;
  left: 18%;
  height: 100%;
  width: 25rem;
  background-color: #ffba00;
  z-index: 1;
}
.gallery .title {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 5rem;
}
.gallery__images {
  display: flex;
  height: 50vh;
}
.gallery__images .img-1 {
  width: 50%;
  transition: all 0.4s ease;
  z-index: 10;
}
.gallery__images .img-2 {
  width: 25%;
  transition: all 0.4s ease;
}
.gallery__images .img-3 {
  width: 25%;
  transition: all 0.4s ease;
}
.gallery__images .img-1:hover,
.gallery__images .img-2:hover,
.gallery__images .img-3:hover {
  transform: scale(0.95);
  border: 5px solid #ffba00;
}
.gallery .infos {
  width: 70%;
  margin: 10rem auto;
}
.gallery .infos h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  z-index: 10;
}
.gallery .infos .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.gallery .infos__text {
  width: 50%;
  font-size: 2.4rem;
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 1.5;
  padding: 0 9rem;
  z-index: 10;
}
.gallery .infos__socials {
  font-size: 2.4rem;
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .infos__socials .social-media {
  margin-bottom: 5rem;
}
.gallery .infos__socials .title {
  font-size: 2.4rem;
  text-transform: lowercase;
}
.gallery .infos__socials .icons img {
  height: 5rem;
  margin-right: 1rem;
}
.gallery .infos__socials .icons img:hover {
  cursor: pointer;
}
.gallery .infos__socials p {
  margin-bottom: 1rem;
}
.gallery .infos .website .title:hover {
  cursor: pointer;
}

.footer {
  background-color: #483500;
  color: #fff;
}
.footer .wrapper {
  width: 80%;
  padding: 10rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .wrapper .about {
  font-size: 2rem;
  width: 50%;
}
.footer .wrapper .about h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
}
.footer .wrapper .about p {
  width: 80%;
}
.footer .wrapper .footer__menu {
  width: 16%;
}
.footer .wrapper .footer__menu h4 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.footer .wrapper .footer__menu ul {
  list-style: none;
}
.footer .wrapper .footer__menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.3;
  transition: all 0.2s ease;
}
.footer .wrapper .footer__menu ul li a:hover {
  color: #ffba00;
}

@media only screen and (max-width: 87.5em) {
  .gallery__band {
    opacity: 0.5;
  }
  .gallery .infos {
    width: 95%;
  }
  .gallery__images {
    height: auto;
  }

  .new__band {
    left: 2%;
  }
  .new__upper-text {
    width: 100%;
  }
  .new__upper-img {
    width: 40%;
  }
  .new__upper .wrapper {
    margin-left: 0;
    margin-right: auto;
    width: 60%;
  }
  .new__bottom .wrapper {
    width: 90%;
  }
  .new__bottom .wrapper .item .title {
    font-size: 2.2rem;
  }
  .new__bottom .wrapper .item .text {
    font-size: 1.8rem;
  }

  .masterclass__container .button .btn {
    font-size: 2.4rem;
    padding: 1.5rem 25rem 1.5rem 2rem;
  }
  .masterclass__card {
    width: 60%;
  }
  .masterclass__card-title, .masterclass__card-subtitle {
    font-size: 3.2rem;
  }
  .masterclass .price-time .price,
.masterclass .price-time .time {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .gallery__band {
    display: none;
  }
  .gallery__images {
    height: auto;
  }
  .gallery .infos {
    width: 70rem;
  }
  .gallery .infos .content {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .gallery .infos__text {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 6rem;
  }
  .gallery .infos__socials {
    text-align: center;
  }

  .new__upper .wrapper {
    width: 100%;
    justify-content: center;
  }
  .new__upper-text {
    width: 60%;
  }
  .new__upper-img {
    display: none;
  }

  .menu .container-dishes {
    width: 90%;
    margin: 14rem auto 0 auto;
  }
  .menu .wrapper-especials {
    padding-left: 4rem;
  }

  .masterclass__container h3 {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .header .burger {
    display: block;
  }
  .header__text {
    flex-direction: column;
  }
  .header__text h1 {
    font-size: 6rem;
    width: 40rem;
  }
  .header__text a {
    margin-top: 2rem;
    align-self: center;
  }
  .header .main-nav__item {
    display: none;
  }

  .concept .text,
.concept .title, .concept__nav {
    width: 90%;
    text-align: center;
  }
  .concept__nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .concept__nav a {
    margin: 1rem;
  }

  .new__band {
    display: none;
  }
  .new__bottom {
    height: auto;
  }
  .new__upper-title {
    transform: rotate(0);
    padding: 2rem;
    background-color: #ffba00;
    width: auto;
    font-size: 3rem;
  }
  .new__upper-text p, .new__upper-text h3 {
    margin-bottom: 3rem;
  }
  .new__upper-text h3 {
    font-size: 2.6rem;
  }
  .new__upper-text p {
    font-size: 2rem;
  }
  .new .wrapper {
    flex-direction: column;
    margin: 5rem auto;
    text-align: center;
    justify-content: space-evenly;
    width: 95%;
  }
  .new .wrapper .item:not(:last-child) {
    margin-bottom: 5rem;
  }

  .menu__title {
    font-size: 4rem;
  }

  .masterclass__card {
    width: 75%;
  }

  .gallery .title {
    font-size: 4rem;
  }
  .gallery .infos {
    width: 95%;
  }
  .gallery .infos h3 {
    font-size: 3rem;
  }

  .footer .wrapper {
    width: 95%;
  }
  .footer .wrapper .about h3,
.footer .wrapper .footer__menu h4 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 30em) {
  .header .logo-band {
    width: 45%;
  }
  .header__text {
    width: 95%;
  }
  .header__text h1 {
    font-size: 3.6rem;
    width: min-content;
  }
  .header__text .btn {
    font-size: 1.8rem;
    padding: 1.5rem 1rem 1.5rem 2rem;
  }
  .header .main-nav__logo {
    font-size: 2.6rem;
  }

  .new__upper-title {
    font-size: 2.4rem;
  }
  .new__upper-text {
    width: 80%;
  }
  .new__upper-text h3 {
    font-size: 2rem;
  }
  .new__upper-text p {
    font-size: 1.6rem;
  }
  .new .wrapper .item {
    width: 90%;
  }
  .new__bottom .wrapper .item .text {
    font-size: 1.6rem;
  }
  .new__bottom .wrapper .item .title {
    font-size: 2rem;
  }

  .menu__logo {
    font-size: 2.6rem;
  }
  .menu .container {
    margin: 0 auto;
  }
  .menu__title {
    font-size: 2.2rem;
    margin-top: -8rem;
  }
  .menu__title__box {
    padding-bottom: 3rem;
  }
  .menu__item {
    font-size: 1.6rem;
  }
  .menu .container-especials .especial {
    font-size: 1.8rem;
  }

  .concept {
    padding: 8rem 2rem;
  }
  .concept .title {
    font-size: 2.4rem;
  }
  .concept .text {
    font-size: 1.8rem;
  }
  .concept__nav a {
    font-size: 1.6rem;
  }

  .masterclass__container {
    width: 90%;
  }
  .masterclass__container h3 {
    font-size: 2.4rem;
  }
  .masterclass__container .button {
    justify-content: center;
  }
  .masterclass__container .button .btn {
    font-size: 1.8rem;
    padding: 1rem 3rem 1.5rem 1rem;
  }
  .masterclass__card {
    width: 90%;
    margin: 0 auto 5rem auto;
    padding: 4rem;
  }
  .masterclass__card-title, .masterclass__card-subtitle {
    font-size: 2rem;
  }
  .masterclass__card .price-time .price,
.masterclass__card .price-time .time {
    font-size: 1.8rem;
  }

  .gallery {
    padding: 5rem 0;
  }
  .gallery .title {
    font-size: 2.4rem;
  }
  .gallery .infos {
    margin: 6rem auto 0 auto;
  }
  .gallery .infos h3 {
    font-size: 2.4rem;
  }
  .gallery .infos__text {
    font-size: 1.6rem;
  }
  .gallery .infos__socials {
    width: 90%;
  }
  .gallery .infos__socials .social-media p,
.gallery .infos__socials .website p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .gallery .infos__socials .icons img {
    height: 3rem;
  }

  .footer .wrapper {
    flex-direction: column;
    padding: 4rem 0;
  }
  .footer .wrapper .about {
    width: 100%;
    margin-bottom: 5rem;
    font-size: 1.6rem;
  }
  .footer .wrapper .about p {
    width: 100%;
  }
  .footer .wrapper .about__menu h4 {
    font-size: 1.6rem;
  }
  .footer__menu {
    margin-bottom: 3rem;
  }
  .footer__menu ul li a {
    font-size: 1.6rem;
  }

  .footer .wrapper .footer__menu h4,
.footer .wrapper .footer__menu ul li a {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=main.css.map */
